html{
    background-color: teal;
}

.container{
    background-color: white;
    max-width: 800px;
    margin: 24px auto;
}

.header{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__date-box{
    display : flex;
    flex-direction: row;
}