@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html{
    // background-color: teal;
    font-family: "Noto Sans KR", sans-serif !important;
    
}

input{
    all:unset;
}

.container{
    background-color: white;
    border-radius:12px;
    box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
    max-width: 768px;
    margin: 24px auto;
}

.header{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 4px 16px;

    .date-box{
        display : flex;
        flex-direction: row;
        align-items: center;
    }
    .date-box__prev, .date-box__next{
        margin:8px;
    }
}

.content{
    padding : 24px;
    min-height: 320px;
    
    .input-area{
        width:100%;
        text-align : center;
    }

    .list-box{
        list-style:none;
        padding : 0px;
        
        &__item{
            width:100%;
            height:100%;
            display: flex;
            align-items:center;
            margin : 0 4px;
        }
        &__checkbox{ 
            height:24px;
            cursor: pointer;
            .material-icons{
            }
        }
        &__form{
            width:100%;
        }
        &__input{
            border:none;
            outline:none;
            width:100%;
            height : 28px;
            font-size : 16px;
            padding : 0px;
            margin:0px;
        }

        &__button{
            display : flex;
            cursor: pointer;
            height:28px;
        }
    }
    
}



